.App {
  height: 100vh;
  background-color: #e3e5e6;
  text-align: center;
  display: flex;
  justify-content: center;
  .form-container {
    width: 50%;
    background: linear-gradient(to left, #4b79a1, #283e51);
    margin-top: 30px;
    form {
      h3 {
        font-style: italic;
      }
      input {
        width: 50%;
        height: 36px;
        border: 1px solid #586360;
        border-radius: 5px;
        padding: 0 10px;
        font-size: 16px;
        font-style: italic;
        outline: none;
      }
      button {
        width: 75px;
        height: 36px;
        margin-left: 10px;
        border: 1px solid #586360;
        border-radius: 5px;
        background-color: white;
        font-size: 18px;
        font-weight: 700;
        font-style: italic;
        outline: none;
      }
    }
    .todo-items {
      text-align: left;
      color: white;
      line-height: 26px;
      padding-left: 25px;
      .todo {
        input {
          margin: 4px 10px;
        }
      }
    }
  }
}
