.App {
  min-height: 100vh;
  background-color: #e3e5e6;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  .form-container {
    width: 50%;
    background: linear-gradient(to left, #4b79a1, #283e51);
    margin-top: 30px;
    form {
      h3 {
        font-style: italic;
      }
      input {
        width: 50%;
        height: 36px;
        border: 1px solid #586360;
        border-radius: 5px;
        padding: 0 10px;
        font-size: 16px;
        font-style: italic;
        outline: none;
      }
      button {
        width: 75px;
        height: 36px;
        margin-left: 10px;
        border: 1px solid #586360;
        border-radius: 5px;
        background-color: white;
        font-size: 18px;
        font-weight: 700;
        font-style: italic;
        outline: none;
      }
    }
    .todo-items {
      text-align: left;
      color: white;
      line-height: 26px;
      padding-left: 25px;
      margin-top: 10px;
    }
    .visibility-container {
      display: flex;
      justify-content: center;
      margin-top: 16px;
      .visibility-btns {
        background: white;
        border: 1px solid #586360;
        border-radius: 5px;
        height: 32px;
        margin: 0 8px;
        font-size: 14px;
        font-weight: 700;
        font-style: italic;
        outline: none;
      }
      .active {
        color: #019c01;
        background-color: #fff;
        box-shadow: 3px 3px #777777;
      }
    }
  }
}
